# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore build directories
dist
build

# Ignore Git files
.git
.gitignore

# Ignore editor directories and files
.vscode
.idea

# Ignore environment variable files
.env

# Ignore all text files
*.txt